<h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos iure blanditiis ipsam neque ea et omnis sed voluptas, quasi asperiores cupiditate provident voluptatem libero a voluptatibus magni aperiam error.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos iure blanditiis ipsam neque ea et omnis sed voluptas, quasi asperiores cupiditate provident voluptatem libero a voluptatibus magni aperiam error.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos iure blanditiis ipsam neque ea et omnis sed voluptas, quasi asperiores cupiditate provident voluptatem libero a voluptatibus magni aperiam error.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos iure blanditiis ipsam neque ea et omnis sed voluptas, quasi asperiores cupiditate provident voluptatem libero a voluptatibus magni aperiam error.
</h3>

<button (click)="getToast('error')">Get danger Toast</button>
<button (click)="getToast('success')">Get suucess Toast</button>
<button (click)="getToast('info')">Get new Toast</button>

<banner-toast [position]="'topRight'"></banner-toast>

{{ title }}